/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

:root {
  --primary-color: #ecf2fc;
  --secondary-color: #000105;
}

.dark-theme {
  --primary-color: #000105;
  --secondary-color: #ecf2fc;
}

/* Body */
body {
  font-family: "Poppins", serif;
  background-color: var(--primary-color);
  position: relative;
}

/* Header */
header {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  position: relative;
}

.nav-list ul {
  display: flex;
  gap: 1.5rem;
  margin-bottom: -0.5rem;
}

.nav-list ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.2rem;
  transition: color 0.25s;
}

.nav-list ul li a:hover {
  color: #ff4321;
}

/* Menu Button*/
.fa-bars {
  font-size: 2rem;
  position: absolute;
  right: 10%;
  top: 2.75rem;
  color: var(--secondary-color);
  cursor: pointer;
  visibility: hidden;
}

/* Main */
main {
  height: calc(100vh - 116px);
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Main Text Content */
.text-content {
  width: 50%;
  margin-bottom: 7.5rem;
}

.text-content h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
}

.kate {
  color: #ff4321;
}

.text-content p {
  color: var(--secondary-color);
  margin-block: 1rem;
}

.text-content button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 10rem;
  padding-block: 0.5rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

/* Socials */
.socials {
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  margin-top: 7.5rem;
  position: absolute;
  bottom: 3.5rem;
}

.socials a {
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.25s;
}

.socials a:hover {
  color: #ff4321;
}

/* Images */
.kate-img {
  width: 25rem;
  position: absolute;
  right: 11%;
  bottom: 0;
  transition: right 0.5s;
}

.pattern-img {
  width: 27.5rem;
  position: absolute;
  right: 10%;
  bottom: 4rem;
  transition: bottom 0.5s;
}

/* Image Box */
.image-box:hover .kate-img {
  right: 8%;
}

.image-box:hover .pattern-img {
  bottom: 6rem;
}

/* Display Mode */
.display-mode {
  color: var(--secondary-color);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: transparent;
  transition: transform 0.5s;
}

.display-mode:hover {
  transform: rotate(360deg);
}

/* Media Queries */
@media screen and (max-width: 75rem) {
  .text-content {
    width: 40%;
  }
}

@media screen and (max-width: 60rem) {
  .text-content {
    width: 30%;
  }
}

@media screen and (max-width: 50rem) {
  /* Main Content */
  .text-content {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .socials {
    background-color: rgba(255, 255, 255, 0.5);
    width: 12.5rem;
    margin-inline: auto;
    justify-content: center;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Header/Nav */
  header {
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 0;
    width: 100vw;
    background-color: var(--primary-color);
  }

  .fa-bars {
    visibility: visible;
  }

  .nav-list {
    position: absolute;
    top: 116px;
    height: 0;
    overflow: hidden;
    transition: height 1s;
    z-index: 5;
  }

  .nav-list ul {
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 0;
  }

  .nav-list ul li {
    width: 100vw;
  }

  .nav-list ul li a {
    display: block;
    width: 100%;
    padding-block: 0.5rem;
    padding-left: 10%;
    color: var(--secondary-color);
    transition: background-color 0.25s;
  }

  .nav-list ul li a:hover {
    background-color: rgba(255, 67, 33, 0.5);
    color: #fff;
    padding-left: 12.5%;
  }

  .logo {
    margin-left: 10%;
  }

  .text-content h1 {
    font-size: 2rem;
  }

  .kate-img,
  .pattern-img {
    z-index: -1;
  }
}

/* Show Nav */
.show-nav {
  height: 224px;
}
