/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Poppins", serif;
  background-color: #ecf2fc;
}

/* Header */
header {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.nav-list ul {
  display: flex;
  gap: 1.5rem;
  margin-bottom: -0.5rem;
}

.nav-list ul li a {
  text-decoration: none;
  color: #404040;
  font-size: 1.2rem;
  transition: color 0.25s;
}

.nav-list ul li a:hover {
  color: #ff4321;
}

/* Main */
/* Main Content */
main {
  display: flex;
  width: 80%;
  margin-inline: auto;
  align-items: center;
  
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.content h1 {
  font-size: 4rem;
}

.content p {
  color: #404040;
}

.kate {
  color: #ff4321;
}

.content button {
  width: 10rem;
  background-color: #000;
  color: #fff;
  padding-block: 0.5rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

.social-links {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.social-links a {
  color: #404040;
  transition: 0.25s;
}

.social-links a:hover {
  color: #ff4321;
}

/* Main Images */
